<nav aria-label="side bar" aria-orientation="vertical"
     class="h-full flex-none flex flex-col items-center text-center bg-primary-400 text-gray-600">

  <div class="h-16 flex items-center w-full">
    <img class="h-6 w-6 mx-auto"
         src="https://raw.githubusercontent.com/bluebrown/tailwind-zendesk-clone/master/public/assets/leaves.png"
         alt=""/>
  </div>

  <ul>
    @for (group of items; track group.id) {

      @if (group.label) {
        <!--          <li class="px-4 py-2 text-sm uppercase text-gray-950">-->
          <!--            {{ group.label }}-->
          <!--          </li>-->
      }

      @for (item of group.items ?? []; track item.id) {
        <li>
          <a
            [routerLink]="item.routerLink"
            routerLinkActive="bg-primary-300 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="h-16 px-6 flex items-center w-full hover:text-white"
          >
            <i [class]="item.icon" style="font-size: 1.2rem"></i>
          </a>
        </li>
      }

    }
  </ul>

  <div class="mt-auto flex flex-col items-center w-full mb-2">
    <ul>
      <li>
        <a
          [routerLink]="['/', RouteTokens.APP, RouteTokens.SETTINGS]"
          routerLinkActive="bg-primary-300 text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="h-12 px-6 flex items-center w-full hover:text-white"
        >
          <i [class]="PrimeIcons.COG" style="font-size: 1.2rem"></i>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/']"
          (click)="logout()"
          class="h-12 px-6 flex items-center w-full hover:text-white"
        >
          <i [class]="PrimeIcons.SIGN_OUT" style="font-size: 1.2rem"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
