<nav aria-label="side bar" aria-orientation="vertical"
     class="h-full w-16 flex-none flex flex-col items-center text-center bg-linear-to-b from-primary to-primary-400 text-gray-600">

  <ul>
    @for (group of items; track group.id) {

      @if (group.label) {
        <!--          <li class="px-4 py-2 text-sm uppercase text-gray-950">-->
          <!--            {{ group.label }}-->
          <!--          </li>-->
      }

      @for (item of group.items ?? []; track item.id) {
        <li>
          <a
            [routerLink]="item.routerLink"
            routerLinkActive="bg-primary-500 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="h-16 w-16 flex items-center justify-center hover:text-white hover:bg-primary-300"
          >
            <i [class]="item.icon" style="font-size: 1.2rem"></i>
          </a>
        </li>
      }

    }
  </ul>

  <ul class="mt-auto mb-2 w-full">
    <li class="w-full">
      <a
        [routerLink]="AppRoutePaths.selectWorkspace()"
        routerLinkActive="bg-primary-500 text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="h-16 w-16 flex items-center justify-center hover:text-white hover:bg-primary-300 mx-auto"
      >
        <i [class]="PrimeIcons.SITEMAP" style="font-size: 1.2rem"></i>
      </a>
    </li>

    <li class="w-full">
      <a
        [routerLink]="AppRoutePaths.settings()"
        routerLinkActive="bg-primary-500 text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="h-16 w-16 flex items-center justify-center hover:text-white hover:bg-primary-300 mx-auto"
      >
        <i [class]="PrimeIcons.COG" style="font-size: 1.2rem"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        [routerLink]="AppRoutePaths.landing()"
        (click)="logout()"
        class="h-16 w-16 flex items-center justify-center hover:text-white hover:bg-primary-300 mx-auto"
      >
        <i [class]="PrimeIcons.SIGN_OUT" style="font-size: 1.2rem"></i>
      </a>
    </li>
  </ul>

</nav>
