<nav aria-label="top bar" class="flex-none flex justify-between bg-linear-to-r from-primary to-primary-400 h-16">

  <!-- top bar left -->
  <ul aria-label="top bar left" aria-orientation="horizontal" class="flex items-center gap-3">
    <img class="h-16 mx-auto" src="/creator_logo.png" alt="creator logo"/>
    <span class="text-xl font-bold text-primary-950">Content creator name</span>
  </ul>

  <!-- to bar right  -->
  <ul aria-label="top bar right" aria-orientation="horizontal" class="px-8 flex items-center gap-3">
    <li>
      <p-toggleButton
        [ngModel]="visitorMode.isActive()"
        (ngModelChange)="visitorMode.toggle()"
        onIcon="pi pi-eye-slash"
        offIcon="pi pi-eye"
        onLabel="Visitor"
        offLabel="Visitor"
      />
    </li>

    <li class="">
      <p-overlay-badge value="4" severity="danger" class="inline-flex">
        <p-avatar label="U"/>
      </p-overlay-badge>
    </li>
  </ul>
</nav>
