<nav aria-label="top bar" class="flex-none flex justify-between bg-primary-400 h-16">

  <!-- top bar left -->
  <ul aria-label="top bar left" aria-orientation="horizontal" class="flex">
  </ul>

  <!-- to bar right  -->
  <ul aria-label="top bar right" aria-orientation="horizontal" class="px-8 flex items-center gap-3">
    <li>
      <p-toggleButton
        [ngModel]="visitorMode.isActive()"
        (ngModelChange)="visitorMode.toggle()"
        onIcon="pi pi-eye-slash"
        offIcon="pi pi-eye"
        onLabel="Visitor"
        offLabel="Visitor"
        styleClass="p-button-sm"
      />
    </li>

    <li class="">
      <p-overlay-badge value="4" severity="danger" class="inline-flex">
        <p-avatar label="U"/>
      </p-overlay-badge>
    </li>
  </ul>
</nav>
