@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.visitor-blur {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}
