<p-fieldset>
  <ng-template #header>
    <div class="flex items-center gap-2 px-2">
      <span class="font-bold">Projects</span>
    </div>
  </ng-template>

  <p-table
    [value]="isLoading() ? Array(10).fill({}) : projects()"
    [paginator]="true"
    [rows]="10"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
  >
    <ng-template #header>
      <tr>
        <th style="width:20%">Titre</th>
        <th style="width:20%">Status</th>
        <th style="width:20%">Budget total</th>
        <th style="width:20%">Nbr participants</th>
      </tr>
    </ng-template>
    <ng-template #body let-project>
      <tr [pSelectableRow]="project">
        @if (isLoading()) {
          <td><p-skeleton/></td>
          <td><p-skeleton/></td>
          <td><p-skeleton/></td>
          <td><p-skeleton/></td>
        } @else {
          <td>{{ project.title }}</td>
          <td>{{ project.status }}</td>
          <td [class.visitor-blur]="visitorMode.isActive()">{{ project.totalBudget }}</td>
          <td>{{ project.participantCount }}</td>
        }
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
